[{zotonic, [
    {deps, [
        {erlastic_search, ".*", {git, "https://github.com/tsloughter/erlastic_search.git", "9a207d1ec461103767d9fe28de22f622060f439e"}},
        {hackney, ".*", {git, "git://github.com/epgsql/epgsql.git", {tag, "1.14.3"}}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}}
    ]}
]}].
